<div class="container padding-inside-top-md padding-inside-bottom-md">

  <div class="row">

    <div class="col-lg-10 col-lg-offset-1">
      <!-- <img src="assets/images/hero.png" class="img-responsive"> -->
      <img src="assets/hero.png" class="img-responsive">
    </div>

  </div>

  <div class="row">

    <div class="col-lg-4 col-lg-offset-1">

      <% if current_user.present? %>
      <h1>
        Send an update:
      </h1>
      <form action="/send">
        <input type="submit" value="Send email" class="btn btn-primary btn-block">
      </form>



      <% else %>
      <ul>
        <!-- <a href="/users/edit"> -->
        <h1>
          Tickerpush
        </h1>

        <p>
          Send yourself a portfolio update on the fly!
        </p>
      </a>
    </ul>
    <% end %>




  </div>

  <div class="col-lg-4 col-lg-offset-2">

    <% if current_user.present? %>
    <h1>
      Update tickers:
    </h1>
    <form action="/users/<%= current_user.id %>/edit">
      <input type="submit" value="Edit tickers" class="btn btn-block btn-block">
    </form>



    <% else %>
    <ul>
      <!-- <a href="/users/edit"> -->
      <h1>
        Sign up today:
      </h1>

      <form action="/users/sign_up">
        <input type="submit" value="Register" class="btn btn-primary btn-block">
      </form>
    </a>
  </ul>
  <% end %>


</div>
</div>
</div>
